body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", system-ui;
    background-size: cover;
}

.root {
    margin: 10px auto;
    width: 90%;
    column-count: 4;
    column-width: 240px;
    column-gap: 20px;
}

.item {
    margin-bottom: 10px;
    break-inside: avoid;
    background: rgba(255, 255, 255, 1);
    border-radius: 5%;
}

.item:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.itemImg {
    width: 100%;
    vertical-align: middle;
    border-radius: 5% 5% 0% 0%;
}

.userInfo {
    padding: 5px 10px;
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.intro {
    margin-left: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    color: black
}