body {
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: white;
}

header {
    background-color: purple;
    position: fixed;
    top: 0;
    margin-left: -8px;
    height: 100px;
    width: 100%;
    z-index: 10;
}

