body {
    background-size: cover;
    background-repeat: no-repeat;
}

.dark {
    background-color: black;
}

.light {
    background-color: white;
}

h1 {
    color: grey;
}

header {
    background-color: purple;
    position: fixed;
    top: 0;
    margin-left: -8px;
    height: 100px;
    width: 100%;
    z-index: 10;
}

