body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", system-ui;
    background-size: cover;

}

.signIn {
    background: rgb(250, 202, 58);
}

.signUp {
    background: rgb(184, 180, 180);
}