.picture {
    width: 330px;
    float: left;
    margin: 10px;
    height: 240px;
    background: rosybrown;
}

header {
    background-color: purple;
    position: fixed;
    top: 0;
    margin-left: -8px;
    height: 100px;
    width: 100%;
    z-index: 10;
}

#login {
    float: left;
    clear: right;
}

#login h1 {
    font-family: serif;
}

ul.menu {
    margin: 0;
    padding: 0;
    float: right;
}

ul.menu > li {
    list-style: none;
    text-decoration: none;
    float: left;
    padding: 0;
    margin: 20px;
    position: relative;
}

ul.menu > li:hover > a {
    color: white;
}

ul.menu > li > a:hover, ul.menu > li > a:focus {
    outline: none;
    color: white;
    background-color: rgb(255, 0, 155);
}

ul.menu > li > a:active {
    outline: none;
    color: white;
    background-color: #FF0000;
}

.block {
    margin-top: 200px;
    clear: both;
}

figure {
    display: block;
    width: 312px;
    height: 195px;
    background: #e7e3d8;
    margin: 0;
    padding: 9px;
    text-align: left;
}

.block > h1 {
    width: fit-content;
    background-color: #e7e3d8;
}

figure img {
    width: 308px;
    height: 200px;
    border: 1px solid #d6d6d6;
}

figcaption {
    background-repeat: no-repeat;
    padding-left: 20px;
}
