header {
    background-color: rgba(224, 255, 255, 0.9);
    position: fixed;
    top: 0;
    margin-left: -8px;
    height: 100px;
    width: 100%;
    z-index: 10;
}

#login {
    float: left;
    clear: right;
}

ul.menu {
    margin: 0;
    padding: 0;
    float: right;
}

ul.menu > li {
    list-style: none;
    text-decoration: none;
    float: left;
    padding: 0;
    margin: 20px;
    position: relative;
}

ul.menu > li:hover > a {
    color: white;
}

ul.menu > li > a:hover, ul.menu > li > a:focus {
    outline: none;
    color: white;
    background-color: rgb(255, 0, 155);
}

ul.menu > li > a:active {
    outline: none;
    color: white;
    background-color: #FF0000;
}

#image1 {
    width: 80%;
    height: 60%;
    margin-top: 5%;
    margin-left: 10%;
}

.watermark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}





